<!DOCTYPE html>
<html class="h-full">
<head>
  <%= render "shared/head" %>
</head>

<body class="<%= body_class(yield(:body_class)) %>">
  <%= user_masquerade(current_user) if user_masquerade? %>

  <%= render "shared/flash" %>
  <%= render "shared/navigation" %>

  <%= yield %>
  <%= render "shared/footer" %>
  <%= render "sjabloon/policies/cookie_modal" %>
  <%= render "sjabloon/policies/consent_modal" %>
</body>
</html>

